<h1>About Gaming Stock Likes</h1>
<p>
    Gaming Stock Likes is a database centered around gaming companies that hopefully will be utilized one day as a stock market sentiment indicator. A stock market sentiment indicator can be used to see how a group feels about a certain market. In our case, we will be using various gaming companies’ Twitter pages to sum up Likes, Retweets, and Comments in order to create a “buzz” factor. The higher the buzz factor, the more popular and trending a gaming company is. Additionally, we will feature games released by each company along with stock ticker data such as the last closing price of the stock.
</p>

