<h1>Gaming Companies</h1>
<h3>Add a new gaming company:</h3>
<form id="addcompany" action="/gaming-companies" method="post">
    Name of Gaming Company: <input type="text" class="m-2" name="comp_nameInput" required><br>
    <br>
    <input type="submit" value="Submit">
</form>
<hr/>
<h3>Current Gaming Companies:</h3>
<table class="table table-dark bg-secondary">
    <thead> 
        <th>Company Name</th> 
    </thead> 
    <tbody> 
        \{{#each gaming_company}}
        <tr> 
            <td>\{{comp_name}}</td> 
            <td>
                <a class="btn btn-info" href="/gaming-companies/{{id}}" role="button"><i class="fas fa-edit"></i></a>
                <button class="btn btn-danger" onclick="deleteCompany({{id}})">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr> 
        \{{/each}} 
    </tbody> 
</table> 

