<!-- Jumbotron -->	
<h1>Gaming Stock Likes Database</h1>
<p>{{results}}</p>
<ul>
	<li>Show All:
		<ul>
			<li><a href="/gaming-companies">Gaming Companies</a></li>
			<li><a href="/stocks">Stocks</a></li>
			<li><a href="/twitters">Twitter Pages</a></li>
			<li><a href="/games">Games</a></li>
			<li><a href="/genres">Genres</a></li>
		</ul>
	</li>
</ul>